@page
@model PaymentSystemPrototype.Pages.UserPages.CreateDeposit

@{
    Layout = "Shared/_Layout";
}
<h2>Enter Card Data and deposit amount:</h2>

<form method="post">
    <label>Card Number</label> <br/>
    <input type = "number" asp-for="@Model.transferData.CardNumber"/> <span asp-validation-for="@Model.transferData.CardNumber" class="error"></span><br/>
    <label>Expire Date</label> <br/>
    <input type="month" asp-for="@Model.transferData.ExpireDate"/> <span asp-validation-for="@Model.transferData.ExpireDate" class="error"></span><br/>
    <label>Card Holder</label> <br/>
    <input type="text" asp-for="@Model.transferData.CardHolder"/> <span asp-validation-for="@Model.transferData.CardHolder" class="error"></span><br/>
    <label>CV2</label> <br/>
    <input type = "number" asp-for="@Model.transferData.CV2"/> <span asp-validation-for="@Model.transferData.CV2" class="error"></span><br/>
    <label>Amount</label> <br/>
    <input type = "number" asp-for="@Model.transferData.Amount"/> <span asp-validation-for="@Model.transferData.Amount" class="error"></span><br/>
    <input type="submit" value="Apply Changes"/><br/>
</form>

<h2>@Model.Message</h2>