@page
@model PaymentSystemPrototype.Pages.UserPages.CreateWithdrawal

@{
    Layout = "Shared/_Layout";
}
<h2>Enter Card Data and deposit amount:</h2>

<form method="post">
    <label>Card Number</label> <br/>
        <input type = "number" asp-for="@Model.WithdrawalData.CardNumber"/> <span asp-validation-for="@Model.WithdrawalData.CardNumber" class="error"></span><br/>
        <label>Amount</label> <br/>
        <input type = "number" step="any" asp-for="@Model.WithdrawalData.Amount"/> <span asp-validation-for="@Model.WithdrawalData.Amount" class="error"></span><br/>
        <input type="submit" value="Apply Changes"/><br/>
</form>

<h2>@Model.Message</h2>