@page
@model PaymentSystemPrototype.Pages.Auth.SignUp

@{
    Layout = "_Layout";
}
<h2>
    @Model.Message
</h2>
<form method="post">
    <label>First Name</label> <br/>
    <input asp-for="@Model.signUpData.FirstName"/> <span asp-validation-for="@Model.signUpData.FirstName" class="error"></span><br/>
    <label>Last Name</label> <br/>
    <input asp-for="@Model.signUpData.LastName"/> <span asp-validation-for="@Model.signUpData.LastName" class="error"></span><br/>
    <label>Email</label> <br/>
    <input type = "email" asp-for="@Model.signUpData.Email"/> <span asp-validation-for="@Model.signUpData.Email" class="error"></span><br/>
    <label>Password</label> <br/>
    <input type = "password" asp-for="@Model.signUpData.Password"/> <span asp-validation-for="@Model.signUpData.Password" class="error"></span><br/>
    <input type="submit" value="Sign Up"/><br/>
</form>